<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Prepare for your Interview</h2>
    <h3>By Anuradha and Bhargavi</h3>
    <a href="/topics" class="btn">View Questions</a>
  </div>
</header>


<%- include('partials/footer'); -%>